@font-face {
  font-family: "proxima-nova-soft";
  font-style: normal;
  src: url("https://use.typekit.net/af/b5823a/00000000000000000001743c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/b5823a/00000000000000000001743c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/b5823a/00000000000000000001743c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
}
body{
  font-family: "proxima-nova-soft",sans-serif;
  margin: 0;
}
.section{
  padding: 50px 0;
}
.bg-humo{
  background-color: #eeeeee;
}
.bg-skyblue{
  background-color: #3498db;
}
.text-skyblue{
  color: #3498db;
}
.white{
  color: white;
}
h1{
  font-size: 6rem;
  font-weight: 600;
}
.subtitulo{
  margin-bottom: 40px;
}
p{
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top:10px;
}
.flex{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/*cleaning checklist*/
.panel div{
  padding: 10px;
}
.check{
  color: #6ea43f;
  padding-right: 15px;
}
.item-checklist{
  padding: 15px 30px;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: initial;
  align-items: center;
}
.rooms{
  height: 650px;
}
@media (max-width: 1100px){
  .rooms{
    height: 1000px;
  }
}
.laundry{
  height: 280px;
}
@media (max-width: 1100px){
  .laundry{
    height: 400px;
  }
}
/*get your quote*/
.icon-property{
  opacity: 0.5;
  margin-right: 10px;
}
.icon-property:hover{
  opacity: 1;
  cursor: pointer;
}
.icon-property:active{
  opacity: 1;
  border: 2px solid #3498db;
}
/*footer*/
footer li{
  padding: 10px;
  display: inline-block;
}
@media (max-width:700px){
  footer li{
    display: block;
  }
}
footer a,
footer a:hover{
  color: #fff;
  text-decoration: none;
}
@media (max-width: 1100px){
  .laundry{
    height: 400px;
  }
}
.logo{
  width: 120px;
}
.red-social{
  background-color: #1280c9;
  margin: 20px 5px 40px 5px;
}
.icon-property,
.red-social{
  width: 50px;
  height: 50px;
  display: inline-block;
  background-size: cover;
  border-radius: 50%;
  transition: 0.2s linear;
}
.red-social:hover{
  background-color: #0e629a;
  text-decoration: none;
}
.abn{
  margin-left: 100px;
}
/*galery*/
.galery{
  padding: 0 40px 30px 40px;
  display: flex;
}
.cleaning,
.img-rotate-left,
.img-rotate-right{
  position: relative;
}
.cleaning,
.img-rotate-left{
  transform: rotateZ(4deg);
  transition: 0.2s linear;
}
.img-rotate-right{
  transform: rotateZ(-5deg);
  transition: 0.2s linear;
}
.img-rotate-left:hover{
  transform: rotateZ(10deg);
}
.cleaning:hover{
  transform: rotateZ(0deg);
}
.img-rotate-right:hover{
  transform: rotateZ(-10deg);
}
.cleaner{
  left: -30px;
}
.cleaning{
  left: -55px;
}
.window{
  left: -80px;
}
.exit{
  left: -104px;
}
